@import "mixin";
html {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

//html {
//  overflow-x: hidden;
//}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-weight: 400;
  &.active{
    overflow: hidden;
  }
}


use path {
  fill: inherit;
  stroke: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.disabled{
  pointer-events: none;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  height: 100%;
  padding: 0 40px;
  @include respond-to(tablet) {
    max-width: 1260px;
    padding: 0 30px;
  }
  @include respond-to(help-and-our) {
    max-width: 1260px;
    padding: 0 10px;
  }
}

html {
  scroll-behavior: smooth;
}

