.help {
  &__wrapper {
    display: grid;
    grid-template-rows: 29% 70%;
    height: 611px;
    @include respond-to(tablet) {
      gap: 43px;
      height: 779px;
      grid-template-rows: 24% auto;
    }
    @include respond-to(help-and-our){
      grid-template-rows: 11% auto;
    }
    @include respond-to(help-and-our){
      grid-template-columns: 100%;
      gap: 67px;
      height: 745px;
      justify-content: center;
    }
  }

  &-head {
    @include h3();
    width: 362px;
    display: grid;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-top: 66px;
    @include respond-to(help-and-our){
      width: 100%;
      font-size: min(7.8vw, 35px);
    }
    @include respond-to(320px){
      font-size: 25px;
    }
  }

  &-options {
    display: grid;
    grid-template-rows: 211px 126px;
    @include respond-to(tablet) {
      display: none;
    }
  }

  &-options_tablet {
    transition: 1s;
    @include respond-to(tablet) {
      animation: ani 1.5s forwards;
      @keyframes ani {
        0% {
          opacity: 0;
          column-gap: 100px
        }
        100% {
          opacity: 1;
          column-gap: 0
        }
      }
      grid-template-columns: repeat(3, minmax(231px, 330px));
      grid-template-rows: repeat(3, 171px);
      display: grid;
      justify-content: center;
      grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
    }
    @include respond-to(tablet-accuracy) {
      grid-template-columns: repeat(3, minmax(186px, 231px));
    }
    @include respond-to(help-and-our) {
      grid-template-areas:
    "a b"
    "c d"
    "e f"
    "g h"
    "i .";
      grid-template-columns: minmax(153px, 300px) minmax(166px, 320px);
      grid-template-rows: repeat(5, 116px);
      img {
        height: 50px;
      }
      h4{
        font-size: 15px;
        line-height: 110%;
      }
    }
    @include respond-to(320px){
      grid-template-columns: 153px 160px;
      row-gap: 2px;
      li:nth-child(even){
        margin-left: 5px;
        img{
        height: 45px;
        }
      }
      li:nth-child(2){
        img{
          height: 50px;
        }
      }
      li:nth-child(4){
        img{
          height: 48px;
        }
      }
    }

    @include respond-to(not-tablet) {
      display: none;
    }

    li:nth-child(1) {
      grid-area: a;
    }

    li:nth-child(2) {
      grid-area: b;
    }

    li:nth-child(3) {
      grid-area: c;
    }

    li:nth-child(4) {
      grid-area: d;
    }

    li:nth-child(5) {
      grid-area: e;
    }

    li:nth-child(6) {
      grid-area: f;
    }

    li:nth-child(7) {
      grid-area: g;
    }

    li:nth-child(8) {
      grid-area: h;
    }

    li:nth-child(9) {
      grid-area: i;
    }
  }

  &-options-top {
    display: grid;
    //grid-template-columns: repeat(5, 176px);
    grid-template-columns: repeat(5, minmax(136px, 176px));
    align-self: center;
    justify-self: center;
    column-gap: 60px;

    li:nth-child(3) {
      margin-left: -19px;
    }

    li:nth-child(4) {
      margin-left: -40px;
    }

    li:nth-child(5) {
      margin-left: -18px;
    }
  }

  &-options-bottom {
    @extend .help-options-top;
    grid-template-columns: repeat(4, minmax(137px, 190px));
    margin: 0 85px;

    li:nth-child(1) {
      margin-left: -19px;
    }

    li:nth-child(2) {
      justify-self: start;
      margin-top: -4px;
    }

    li:nth-child(3) {
      margin-left: -81px;
    }

    li:nth-child(4) {
      margin-left: -34px;
    }
  }

  &-options-list {
    @include h4;
    display: grid;
    grid-template-rows: 58px 10px;
    row-gap: 30px;
    justify-items: center;
  @include respond-to(320px){
    grid-template-rows: 40px 10px;
  }
  }
}
