.our-friends {
  background: #f6f6f6;

  &__wrapper {
    display: grid;
    grid-template-rows: 227px 499px 150px;
    justify-items: center;
    height: 877px;
    @include respond-to(tablet) {
      grid-template-rows: 230px 495px 150px;
    }
    @include respond-to(friend-mobile) {
      grid-template-rows: 230px 549px 97px;
    }
    @include respond-to(help-and-our) {
      grid-template-rows: 148px 549px 97px;
      height: 791px;
    }
  }

  &__head {
    @include our-head();
    font-size: min(5.8vw, 35px);
    @include respond-to(help-and-our) {
      width: 100%;
      font-size: 25px;
      padding-top: 41px;
    }
  }

  &__slides-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    transform: translateX(-990px);
    @include respond-to(JSSLider) {
      transform: translateX(-580px);
    }
    @include respond-to(slider-friends) {
      transform: translateX(-300px);
    }
  }

  &__slides-item {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    gap: 90px;
    width: 990px;
    overflow: hidden;

    div:nth-child(3) {
      justify-self: end;
    }

    div:nth-child(2) {
      justify-self: center;
    }

    @include respond-to(JSSLider) {
      grid-template-columns: repeat(2, 270px);
      gap: 40px;
      width: 580px;
      div:nth-child(2) {
        justify-self: end;
      }
    }
    @include respond-to(slider-friends) {
      grid-template-columns: 300px;
      width: 300px;
      div:nth-child(1) {
        justify-self: center;
      }
      //&#item-active{
      //  div{
      //  justify-self: center;
      //  }
      //}
    }
  }

  @keyframes move-right {
    from {
      transform: translateX(-990px);
    }
    to {
      transform: translateX(-1980px);
    }
  }
  @keyframes move-right1170 {
    from {
      transform: translateX(-580px);
    }
    to {
      transform: translateX(-1160px);
    }
  }
  @keyframes move-right650 {
    from {
      transform: translateX(-300px);
    }
    to {
      transform: translateX(-600px);
    }
  }

  .transition-right {
    animation-name: move-right;
    animation-duration: 1.5s;
    @include respond-to(JSSLider) {
      animation-name: move-right1170;
    }
    @include respond-to(slider-friends) {
      animation-name: move-right650;
    }
  }

  @keyframes move-left {
    from {
      transform: translateX(-990px);
    }
    to {
      transform: translateX(0px);
    }

  }
  @keyframes move-left1170 {
    from {
      transform: translateX(-580px);
    }
    to {
      transform: translateX(0px);
    }
  }
  @keyframes move-left650 {
    from {
      transform: translateX(-300px);
    }
    to {
      transform: translateX(0px);
    }
  }

  .transition-left {
    animation-name: move-left;
    animation-duration: 1.5s;
    @include respond-to(JSSLider) {
      animation-name: move-left1170;
    }
    @include respond-to(slider-friends) {
      animation-name: move-left650;
    }
  }

  &__slides {
    display: grid;
    position: relative;
    overflow: hidden;
    @include transition();
    @include respond-to(friend-mobile) {
      grid-row: 1 / 2;
    }
  }

  &__slides-name {
    justify-self: center;
  }

  &__slides-container {
    display: grid;
    grid-template-columns: minmax(40px, 105px) 990px minmax(40px, 105px);
    //transform: scale(0.4);

    @include respond-to(JSSLider) {
      grid-template-columns: minmax(40px, 150px) 580px minmax(40px, 150px);
    }
    @include respond-to(friend-mobile) {
      grid-template-columns: 580px;
      grid-template-rows: 455px auto;
    }
    @include respond-to(slider-friends) {
      grid-template-columns: 300px;
      margin: 0;
    }
    margin: 0 20px;
  }

  &__slides-card {
    @include our-card(#FAFAFA);
    @include respond-to(tablet) {
      background: #FAFAFA;
    }
  }


  &__slides-name {
    @include h4;
  }

  &__slides-btn {
    @include our-btn;
  }

  &__btn {
    @include btn;
    @include grid-center;
    @include btn-hov-active;
    width: 261px;
    height: 52px;
    background: #f1cdb3;
    border-radius: 100px;
    transition: 0.4s ease-in-out;
  }


  &__slides-nav-left {
    @include slides-nav(url(../assets/slider/left.svg));
    justify-self: start;
    //margin-bottom: -546px;
    @include respond-to(tablet) {
      //justify-self: end;
      margin-left: 10px;
      margin-bottom: 60px;
    }
    @include respond-to(friend-mobile) {
      margin-left: 57px;
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
  }

  &__slides-nav-right {
    @include slides-nav(url(../assets/slider/right.svg));
    justify-self: end;
    //margin-bottom: -546px;
    @include respond-to(tablet) {
      //justify-self: start;
      margin-right: 10px;
      margin-bottom: 60px;
    }
    @include respond-to(friend-mobile) {
      margin-right: 57px;
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
  }
}
