.our-friends {
  background: #F6F6F6;
  padding-bottom: 35px;
  @include respond-to(tablet) {
    height: 1733px;
  }
  @include respond-to(320px) {
    height: 1647px;
  }

  &__wrapper {
    display: grid;
    grid-template-rows: 208px 886px 172px;
    row-gap: 20px;
    justify-items: center;
    @include respond-to(tablet) {
      grid-template-rows: 178px 1330px 172px;
    }
    @include respond-to(320px) {
      grid-template-rows: 125px 1330px 172px;
    }
  }

  &__rows {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    column-gap: 40px;
    row-gap: 30px;
    animation: sliderOut 1s forwards;
    transition: 1s;
    @include respond-to(tablet-slider) {
      div:nth-child(7) {
        display: none;
      }
      div:nth-child(8) {
        display: none;
      }
      //animation: slider-three 1s forwards;
      //@keyframes slider-three {
      //  0% {
      //    transform: translateX(-100%);
      //    grid-template-columns: repeat(3, auto);
      //    grid-template-rows: repeat(2, auto);
      //  }
      //  100% {
      //    transform: translateX(0);
      //    grid-template-columns: repeat(3, auto);
      //    grid-template-rows: repeat(2, auto);
      //    column-gap: 8vw;
      //  }
      //}
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, auto);
      column-gap: 8vw;
    }
    @include respond-to(tablet) {
      //animation: slider 1s forwards;
      //@keyframes slider {
      //  0% {
      //    grid-template-columns: repeat(2, 270px);
      //    grid-template-rows: repeat(3, auto);
      //    transform: translateX(-100%);
      //  }
      //  100% {
      //    grid-template-columns: repeat(2, 270px);
      //    grid-template-rows: repeat(3, auto);
      //    transform: translateX(0);
      //  }
      //}
      grid-template-columns: repeat(2, 270px);
      grid-template-rows: repeat(3, auto);
      column-gap: 15vw;
      div:nth-child(7) {
        display: none;
      }
      div:nth-child(8) {
        display: none;
      }
    }
    @include respond-to(tablet-accuracy) {
      column-gap: 40px;
    }
    @include respond-to(slider-friends) {
      grid-template-columns: 1fr !important;
      div:nth-child(n+4) {
        display: none;
      }
    }
  }

  &__head {
    @include our-head;
    @include respond-to(help-and-our){
      font-size: min(6.8vw,35px);
      width: 100%;
    }
    @include respond-to(320px) {
      @include h3-mobile(#545454);
      width: 100%;
      padding-top: 40px;

    }
  }

  &__slides-card {
    @include our-card(#FAFAFA);
  }

  &__slides-name {
    @include h4;
  }

  &__slides-btn {
    @include our-btn;
  }

  &__slides {
    display: grid;
    grid-template-columns: repeat(5, 52px);
    gap: 20px;
    padding-top: 38px;
    @include respond-to(320px) {
      gap: 10px;
      padding-top: 56px;
    }
    @include respond-to(tablet-accuracy) {
      padding-top: 46px;
    }
  }

  &__slides-nav-left {
    @include slides-nav(url(../assets/slider/left-arrow-black.svg));

    &.inactive {
      @include slides-nav(url(../assets/slider/left-arrow.svg));
      border: 2px solid #CDCDCD;
    }
  }

  &__slides-nav-right {
    @include slides-nav(url(../assets/slider/right-arrow.svg));
    &.inactive{
      @include slides-nav(url(../assets/slider/right-arrow-gray.svg));
      border: 2px solid #CDCDCD;
    }
  }

  &__slides-count {
    @include slides-count();
    @include grid-center;
    @include h4;
    background: #F1CDB3;
    margin-bottom: 60px;
    //pointer-events: none;
  }


  &__slides-nav-double-left {
    @include slides-nav(url(../assets/slider/double-left-black.svg));

    &.inactive {
      @include slides-nav(url(../assets/slider/double-left.svg));
      border: 2px solid #CDCDCD;
    }
  }

  &__slides-nav-double-right {
    @include slides-nav(url(../assets/slider/double-right.svg));
    &.inactive{
      @include slides-nav(url(../assets/slider/double-right-gray.svg));
      border: 2px solid #CDCDCD;
    }
  }
}