.footer {
  background: url(../assets/scabrous/noize-lines-pattern.png),
  radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;


  &-wrapper {
    display: grid;
    height: 350px;
    grid-template-columns: 304px 320px 304px;
    justify-content: space-between;
    @include respond-to(tablet) {
      grid-template-columns: 45% 47%;
      grid-template-rows: repeat(2, 1fr);
      height: 639px;
      padding: 0 34px;
    }
    @include respond-to(header-footer-max) {
      height: 809px;
    }
    @include respond-to(header-footer-max) {
      grid-template-columns: 100%;
      grid-template-rows: auto auto 289px;
    }
    @include respond-to(help-and-our){
      padding: 0;
      margin: 0 auto;
      max-width: 300px;
      div:nth-child(2){
        margin-top: 0;
        grid-template-rows: 100px 87px 72px;
        margin: 0 auto;
        max-width: 300px;
        a{
          margin-left: 42px;
        }
      }
      div:nth-child(3){
        background-size: contain;
      }
    }
  }

  &-contact {
    @include grid-center;
    grid-template-rows: 120px 74px 74px;
    align-items: center;
    @include respond-to(tablet) {
      margin-top: -18px;
    }
    @include respond-to(help-and-our){
      grid-template-rows: 100px 74px 74px;
      margin-top: 13px;
      justify-items: center;
    }
  }

  &-title {
    @include h3(#fff);
    @include respond-to(help-and-our) {
      @include h3-mobile();
      font-size: min(6vw, 25px);
    }
    @include respond-to(320px){
      @include h3-mobile();
    }
  ;
  }

  &-email {
    @include h4(#f1cdb3);
    @include footer-hover();
    position: relative;
    margin-left: 60px;
    transition: 0.3s ease-in-out;

    &::after {
      transition: 0.3s ease-in-out;
      content: "";
      background-image: url(../assets/footer/email.svg);
      background-repeat: no-repeat;
      width: 40px;
      height: 32px;
      left: -60px;
      top: 0;
      position: absolute;
      display: block;
    }
  }

  &-number {
    @extend .footer-email;

    &::after {
      background-image: url(../assets/footer/phone.svg);
      top: -5px;
    }
  }

  &-address {
    @extend .footer-contact;
    @include respond-to(footer-br){
      h4{
        br{
        display: none;
        }
      }
    }
  }

  &-cord {
    @extend .footer-email;
    margin-left: 40px;

    &::after {
      background-image: url(../assets/footer/loc.svg);
      left: -43px;
      top: 9px;
    }
  }

  &-cord-2 {
    @extend .footer-email;
    margin-left: 40px;
    @include respond-to(help-and-our){
      justify-self: start;
    }

    &::after {
      background-image: url(../assets/footer/loc.svg);
      left: -43px;
      top: -3px;
    }
  }

  &-img {
    background-image: url(../assets/footer/puppy.png);
    background-repeat: no-repeat;
    background-position: 100% 94%;
    @include respond-to(tablet) {
      grid-column: 1 / 3;
      background-position: 50% 94%;
    }
    @include respond-to(header-footer-max) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      background-size: contain;
    }
    @include respond-to(320pxF){
      background-size: 86% !important;
    }
  }
}
